<section class="hero">
  <img src="https://cdn.builder.io/api/v1/image/assets/0b37981e5c3840ba983029b159f4d193/cbe2cafee86df11862aa16be843b67947f76f613249d17594673476fca01bada?placeholderIfAbsent=true"
       alt=""
       class="hero-bg" />
  <button class="landing-login-btn" (click)="onLoginClick()">Login</button>

  <div class="hero-content">
    <h1 class="brand-name">Entangle</h1>
    <p class="hero-title">
      Why asking for a<br />
      second opinion?<br />
      <strong>Have the best.</strong>
    </p>
    <button class="cta-button" (click)="onBookClick()">
      Book a Consultation
    </button>
  </div>
</section>
