<div class="row">
  <form class="form-container row">
    <div *ngIf="currentAuthStep==1">
      <ng-container *ngTemplateOutlet="step1"></ng-container>
    </div>
    <div *ngIf="currentAuthStep==2">
      <ng-container *ngTemplateOutlet="step2"></ng-container>
    </div>
    <div *ngIf="currentAuthStep==3">
      <ng-container *ngTemplateOutlet="step3"></ng-container>
    </div>
    <div class="row justify-content-around mt-3">
      <div class="col-2">
        <button class="btn btn-primary" [disabled]="registerForm.invalid"
                (click)="onNextClicked()">{{ currentAuthStep !== 3 ? 'Next' : 'Submit' }}
        </button>
      </div>
      <div class="col-4" *ngIf="currentAuthStep!==1">
        <button class="btn btn-danger" (click)="onCancelClicked()">Cancel</button>
      </div>
      <div class="col-4" *ngIf="currentAuthStep==1">
        <button class="btn btn-danger" (click)="onLoginBtnClicked()">Login</button>
      </div>
    </div>
  </form>
</div>

<ng-template #step1>
  <form [formGroup]="registerForm" (ngSubmit)="onNextClicked()">
    <label for="username" class="mb-2 mt-2 h5">Username:</label>
    <input class="form-control"
           placeholder="Username"
           type="text"
           required
           id="username"
           formControlName="username">
    <div *ngIf=" registerForm.get('username')?.invalid && registerForm.get('username')?.dirty">
      <small *ngIf="hasControlErrors('username','required')" class="text-danger">Username is required.</small>
      <small *ngIf="hasControlErrors('username','minlength')" class="text-danger">Username must be at least 3
        characters long.</small>
    </div>

    <label for="email" class="mb-2 mt-2 h5">Email:</label>
    <input class="form-control"
           placeholder="Email"
           type="email"
           id="email"
           required
           formControlName="email"
    >
    <div *ngIf=" registerForm.get('email')?.invalid && registerForm.get('email')?.dirty">
      <small *ngIf="hasControlErrors('email','required')" class="text-danger">Email is required.</small>
      <small *ngIf="hasControlErrors('email','email')" class="text-danger">Please enter a valid email</small>
    </div>

    <div class="form-group">
      <label for="password" class="mb-2 mt-2 h5">Password:</label>
      <input class="form-control mt-2"
             id="password"
             type="password"
             formControlName="password"
             placeholder="Password"
             required>
    </div>
    <div *ngIf=" registerForm.get('password')?.invalid && registerForm.get('password')?.dirty">
      <small *ngIf="hasControlErrors('password','required')" class="text-danger">Password is required.</small>
      <small *ngIf="hasControlErrors('password','minlength')" class="text-danger">Password must be at least 8 characters
        long.</small>
    </div>

    <div class="form-group">
      <label for="confirmPassword" class="mb-2 mt-2 h5">Confirm password:</label>
      <input class="form-control mt-2"
             id="confirmPassword"
             placeholder="Confirm password"
             type="password"
             formControlName="confirmPassword"
             required>
    </div>
    <div *ngIf="registerForm.get('confirmPassword')?.dirty">
      <small *ngIf="hasControlErrors('confirmPassword','required')" class="text-danger">Confirm password is
        required.</small>
      <small *ngIf="registerForm.hasError('passwordMismatch')" class="text-danger">Passwords does not
        match</small>
    </div>

  </form>
</ng-template>


<ng-template #step2>
  <div class="form-group">
    <label for="qualification" class="mb-2 mt-2 h5">Please choose one or more activity domain</label>
    <div class="input-group">

      <select class="form-select" id="qualification" style="max-width: 350px"
              [(ngModel)]="selectedQualification"
              (ngModelChange)="onQualificationChange($event)"
      >
        <option selected>Choose...</option>
        <option *ngFor="let qualification of Mocks.qualification"
                value="{{qualification}}">{{ qualification }}
        </option>
      </select>
      <button class="btn btn-outline-secondary" type="button" (click)="onQualificationAdd()">Add</button>
    </div>
    <ol class="list-group list-group-numbered mt-2" style=" align-items: center">
      <li *ngFor="let qualification of qualifications" class="list-group-item d-flex justify-content-center  mt-2"
          style="width: 250px; "
      >
        <div class="ms-2 me-auto">
          {{ qualification }}
        </div>
        <button class="btn btn-danger" z
                type="button">X
        </button>
      </li>
    </ol>
  </div>
</ng-template>

<ng-template #step3>
  <div class="form-group">

    <label for="competence" class="mb-2 mt-2 h5">Please add one or more competence:</label>
    <div class="input-group mb-2">
      <input type="text" placeholder="Add condition here"
             class="form-control"
             name="competence"
             id="competence"
             [(ngModel)]="currentCompetence"
      >
      <button class="btn btn-secondary" (click)="onCompetenceAdd()">Add</button>
    </div>

    <ol class="list-group list-group-numbered mt-2" style=" align-items: center">
      <li *ngFor="let competence of competences"
          class="list-group-item d-flex justify-content-center mt-2 max-width-style-class"
      >
        <div class="ms-2 me-auto multiline-text">
          {{ competence }}
        </div>
        <button class="btn btn-danger"
                style="align-self: center"
                type="button">X
        </button>
      </li>
    </ol>

  </div>
</ng-template>
