<div class="row">
  <form class="form-container row" [formGroup]="resetPasswordEmailForm" (ngSubmit)="submitResetForm()">
    <div class="form-group">
      <p class="mb-2 mt-2 h5">An email with reset link will be sent to address:</p>
      <input class="form-control"
             placeholder="Email"
             type="email"
             id="email"
             required
             formControlName="email"
      >
      <div *ngIf=" resetPasswordEmailForm.get('email')?.invalid && resetPasswordEmailForm.get('email')?.dirty">
        <small *ngIf="hasControlErrors('email','required')" class="text-danger">Email is required.</small>
        <small *ngIf="hasControlErrors('email','email')" class="text-danger">Please enter a valid email</small>
      </div>
    </div>
    <button class="btn btn-primary mt-3" [disabled]="resetPasswordEmailForm.invalid" type="submit">Submit</button>
  </form>
</div>
