<div class="container">
  <header class="header">
    <h1>Entangle</h1>
    <div class="row">
      <nav class="breadcrumb-nav">
        <ul>
          <li *ngIf="!isAuthenticated"><a routerLink="/home" routerLinkActive="active">I'm searching advice</a></li>
          <li *ngIf="!isAuthenticated"><a routerLink="/app/auth" routerLinkActive="active">I'm a well-being specialist</a></li>
          <li *ngIf="isAuthenticated"><a routerLink="/app/main" routerLinkActive="active"
                                         [routerLinkActiveOptions]="{ exact: true }">Dashboard</a></li>
          <li *ngIf="isAuthenticated"><a routerLink="/app/disease-and-treatments" routerLinkActive="active">Our users</a>
          </li>
          <li *ngIf="isAuthenticated"><a (click)="logout()">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main-content">
    <div class="col-9">
      <router-outlet>

      </router-outlet>
    </div>

  </div>
</div>
