<div class="modal-header">
  <h5 class="modal-title">
    <i class="bi me-2"></i>
    {{ modalTitle }}
  </h5>
  <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <form class="form-container shadow p-4 mb-4 bg-white rounded"
        [formGroup]="addEditTreatmentForm">

    <ng-container *ngIf="addDisease">
      <label class="mb-2 h5">Condition:</label>
      <div class="input-group mb-2">
        <input type="text"
               placeholder="Add condition"
               class="form-control"
               formControlName="inputCondition"
               id="inputCondition"
               required>
      </div>
    </ng-container>

    <label class="mb-2 h5">Treatment:</label>

    <div class="input-group mb-3">
      <input type="text"
             placeholder="Add treatment here"
             class="form-control"
             formControlName="inputTreatmentDescription"
             id="inputTreatmentDescription"
             (input)="onTreatmentItemType()"
             required>

      <div *ngIf="showItemDropdown && getControl('inputTreatmentDescription')?.value!==''" class="dropdown-container">
        <ul *ngIf="availableTreatmentItems.length>0" class="dropdown-menu show">
          <li class="dropdown-item" *ngFor="let option of availableTreatmentItems"
              (click)="onItemClick(option.description)"
          >{{ option.description }}
          </li>
        </ul>
      </div>


      <div class="btn-group">
        <span class="input-group-btn input-space">
        <button class="btn btn-outline-secondary dropdown-toggle"
                (click)="onCategoryBtnClicked()"
                type="button">{{ selectedTreatmentType }}
        </button>
        </span>
        <ul class="dropdown-menu show" *ngIf="showCategoryDropdown">
          <li class="dropdown-item" *ngFor="let category of treatmentType"
              (click)="onTreatmentTypeChange(category)">{{ category }}
          </li>
        </ul>
        <span class="input-group-btn input-space">
        <button class="btn btn-success" type="button" (click)="onAddCircumstanceBtnClicked()">Add</button>
        </span>
      </div>
    </div>

    <ol class="list-group list-group-numbered mt-3 shadow-sm">
      <li *ngFor="let circumstance of treatments"
          class="list-group-item d-flex justify-content-between align-items-center bg-light">
        <div class="ms-2 me-auto multiline-text">
          <strong>{{ circumstance.type }}:</strong> {{ circumstance.description }}
        </div>
        <button type="button" class="btn-close" (click)="onDeleteTreatmentCategoryBtn(circumstance)">
        </button>
      </li>
    </ol>

    <div class="row justify-content-center mt-4">
      <div class="col-5">
        <button class="btn btn-outline-success btn-lg btn-block" type="submit" (click)="onAddTreatment()">Save</button>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger btn-lg btn-block" type="button" (click)="closeModal()">Cancel</button>
      </div>
    </div>


  </form>
</div>



