<div class="container mt-4">
  <h2>Diseases and Treatments</h2>

  <table class="table table-borderless">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Disease Name</th>
    </tr>
    </thead>
    <tbody>
    <!-- ng-container allows us to group multiple tr tags under one loop -->
    <ng-container *ngFor="let disease of transformedData; let i = index">
      <!-- Disease Row (Floating Island Effect) -->
      <tr class="disease-row">
        <td>
          <div class="floating-card">
              <span class="expand-icon" (click)="toggleRow(i)">
                <i class="bi" [ngClass]="isRowExpanded(i) ? 'bi-caret-down-fill' : 'bi-caret-right-fill'"></i>
              </span>
            <span class="ml-2">{{ disease.diseaseName }}</span>
          </div>
        </td>
      </tr>

      <!-- Expandable row for treatments (Floating Island Effect) -->
      <tr *ngIf="isRowExpanded(i)" class="expanded-row">
        <table class="table table-bordered">
          <thead class="thead-dark">
          <tr>
            <th *ngFor="let category of diseaseCategories" scope="col">
              {{ category }}
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let treatment of disease.treatments">
            <tr>
              <td class="floating-list-item">
                {{ treatment.specialistName }}
              </td>
              <td class="floating-list-item" *ngFor="let item of treatment.items">
                {{ item.description ? item.description : '' }}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <!-- Pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"
                 [length]="totalCount"
                 [pageSize]="pageSize"
                 showFirstLastButtons
                 (page)="onPageChange($event)"
  >
  </mat-paginator>


</div>
