<div class="container mt-4">
  <h2>Our users</h2>


  <div class="table-header-container">
    <div class="col">
      <label for="search-input" class="fw-bold">User Name</label>
      <div class="row">
        <div class="search-container">
          <input type="text"
                 id="search-input"
                 class="search-input"
                 placeholder="Search..."
                 [(ngModel)]="searchString"
                 (ngModelChange)="onSearchStringChange($event)"
          />
          <span class="search-icon">🔍</span>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="onAddDisease()">Add recommendation</button>
  </div>

  <table class="table table-borderless">
    <thead class="thead-dark">
    <tr>

    </tr>
    </thead>
    <tbody>
    <!-- ng-container allows us to group multiple tr tags under one loop -->
    <ng-container *ngFor="let disease of transformedData; let i = index">
      <!-- Disease Row (Floating Island Effect) -->
      <tr class="disease-row">
        <td>
          <div class="floating-card">
              <span class="expand-icon" (click)="toggleRow(i)">
                <i class="bi" [ngClass]="isRowExpanded(i) ? 'bi-caret-down-fill' : 'bi-caret-right-fill'"></i>
              </span>
            <span class="ml-2">{{ disease.diseaseName }}</span>


            <div class="menu-container">

              <button class="view-patient-info-btn"
                      tooltip="View patient info"
                      (click)="onPatientInfoClick(disease.patientSituation)"
              >
                <i class="bi bi-eye"></i> <!-- Bootstrap eye icon for "View Patient Info" -->
              </button>


              <button class="menu-btn" (click)="toggleDropdownMenu(i)">
                &#x22EE; <!-- Unicode character for vertical ellipsis (3 dots) -->
              </button>

              <div class="dropdown-table-menu" *ngIf="isDropdownMenuOpen(i)" id="dropdownItemRows" #dropdownItemRows>
                <a class="dropdown-table-item" (click)="onAddNewTreatmentModal(disease.id)">Add new treatment</a>
                <a class="dropdown-table-item" (click)="onDeleteDiseaseClick(disease.id)">Delete user</a>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <!-- Expandable row for treatments (Floating Island Effect) -->
      <tr *ngIf="isRowExpanded(i)" class="expanded-row">
        <table class="table table-bordered">
          <thead class="thead-dark">
          <tr>
            <th *ngFor="let category of diseaseCategories" scope="col">
              {{ category }}
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let treatment of disease.treatments">
            <tr>
              <td class="floating-list-item">
                {{ treatment.specialistName }}
              </td>
              <td class="floating-list-item" *ngFor="let item of treatment.items"
                  (click)="onTreatmentItemClicked(treatment.id, item,treatment.items)">
                {{ item.description ? item.description : '' }}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <!-- Pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"
                 [length]="totalCount"
                 [pageSize]="pageSize"
                 showFirstLastButtons
                 (page)="onPageChange($event)"
  >
  </mat-paginator>


</div>
